In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import warnings as w
w.filterwarnings("ignore")

In [ ]:
1 on which maximum size table booking is done
2 what was the peak time
3 who paid maxmum bill male or female
4 who contribute the more smoker or non smoker
5 who visited the most male smoker or female smoker
6 wether the single visiter visited the restruent or not
7 avg bill paid by male female smoker and non smoker

In [6]:
import seaborn as sns 
df=sns.load_dataset("tips")

In [129]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [134]:
# 1 on which maximum size table booking is done
df["size"].max()

6

In [135]:
# 2 what was the peak time
df["time"].mode()[0]

'Dinner'

In [154]:
# 3 who paid maxmum bill male or female
a=df.groupby("sex")["total_bill"].sum()
a

sex
Male      3256.82
Female    1570.95
Name: total_bill, dtype: float64

In [156]:
# 4 who contribute the more smoker or non smoker
df.groupby("smoker")["total_bill"].sum()

smoker
Yes    1930.34
No     2897.43
Name: total_bill, dtype: float64

In [166]:
#5 who visited the most male smoker or female smoker
df.groupby(["smoker","sex"]) ["size"].agg(["sum"])

               sum
smoker sex
Yes    Male    150
       Female   74
No     Male    263
       Female  140

In [174]:
# 6 wether the single visiter visited the restruent or not
df["size"].min()

1

In [178]:
# 7 avg bill paid by male female smoker and non smoker
df.groupby(["smoker","sex"])["total_bill"].mean()

smoker  sex
Yes     Male      22.284500
        Female    17.977879
No      Male      19.791237
        Female    18.105185
Name: total_bill, dtype: float64